.address {
  color: rgb(87, 100, 104);
  font-size: 15px;
}
.person-details {
  border: 1px solid #dddddd;
}
.spinner {
  position: relative;
  background-color: rgba(19, 18, 18, 0.109);
}
.centering {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.id {
  margin-top: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #2C3335;
}
.hash {
  margin-top: -20px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: -1px;
  color: #2C3335;
}
.contacting {
  margin-top: 30px;
}
.number {
  font-size: 14px;
  color: #616C6F;
  padding-left: 20px;
}
.email {
  font-size: 14px;
  margin-top: -14px;
  color: #616C6F;
  padding-bottom: 20px;
  padding-left: 20px;
}
.fas, .far {
  padding-right: 8px;
}
.direction-button button {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px 20px;
}
.btn-custom {
  border: 1px solid #DAE0E2;
  color: #616C6F;
}
.btn-custom:hover {
  border: 1px solid #74B9FF;
  color: #74B9FF;
}
.More-btn {
  color: #fff;
  background-color: rgb(66, 161, 255);
  padding: 5px 10px;
}
.More-btn:hover {
  background-color: #3498DB;
  color: #ffffff;
}
.btn-red {
  background-color: #FF4848;
  color: #fff;
}
.btn-red:hover {
  color: #fff;
  background-color: rgb(255, 94, 88);
}
.box {
  background: grey;
  padding: 20px 20px 20px 20px;
}
.wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
.wrapping {
  border: 1px solid #DAE0E2;
  padding: 20px;
  z-index: -1;
}